 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: sans-serif;
 }

 header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 80px;
     background-color: #FF6600;
     border-bottom: 2px solid white;
 }

 .logo {
     width: 300px;
     height: 220px;
     margin-left: -15px;
 }

 nav {
     display: flex;
     margin-right: 20px;
 }

 nav a {
     position: relative;
     display: block;
     padding: 10px;
     color: white;
     text-decoration: none;
     font-size: 18px;

 }

 nav a::after {
     content: '';
     position: absolute;
     width: 100%;
     height: 2px;
     background: white;
     border-radius: 5px;
     left: 0;
     bottom: 5px;
     transform-origin: right;
     transform: scaleX(0);
     transition: transform .5s;

 }

 nav a:hover::after {
     transform-origin: left;
     transform: scaleX(1);

 }

 .login {
     position: relative;
     display: block;
     margin-right: 10px;
     font-size: 18px;
     padding: 10px;
     border-radius: 20px;
     color: white;
     text-decoration: none;
 }

 .login::after {
     content: '';
     position: absolute;
     width: 100%;
     height: 2px;
     background: white;
     border-radius: 5px;
     left: 0;
     bottom: 5px;
     transform-origin: right;
     transform: scaleX(0);
     transition: transform .5s;
 }

 .login:hover::after {
     transform-origin: left;
     transform: scaleX(1);
 }

 .slider-frame {
     position: relative;
     width: 100%;
     height: 80vh;
     margin: 5px auto 0;
     overflow: hidden;
 }

 .slider-frame ul {
     display: flex;
     padding: 0;
     width: 400%;

     animation: slide 45s infinite alternate ease-in-out;
 }

 .slider-frame li {
     width: 100%;
     list-style: none;
 }

 .slider-frame .img1 {
     width: 100%;
     margin-top: -365px;
 }

 .slider-frame .img2 {
     width: 100%;
     margin-top: -240px;
 }

 .slider-frame .img3 {
     width: 100%;
     margin-top: -80px;
 }

 .slider-frame .img4 {
     width: 100%;
     margin-top: -240px;
 }

 @keyframes slide {
     0% {
         margin-left: 0;
     }

     20% {
         margin-left: 0;
     }

     25% {
         margin-left: -100%;
     }

     45% {
         margin-left: -100%;
     }

     50% {
         margin-left: -200%;
     }

     70% {
         margin-left: -200%;
     }

     75% {
         margin-left: -300%;
     }

     100% {
         margin-left: -300%;
     }
 }



 .search {
     position: absolute;
     top: 50%;
     left: 25%;
     margin-left: 20px;
     transform: translate(-50%, -50%);
     width: 50%;
     max-width: 620px;
     height: 46vh;
     border-radius: 20px;
     background-color: #f0f0f3;
     box-shadow: -3px -3px 50px #ffffff, 12px 5px 40px #d1d9e6;
     z-index: 2;
 }

 .input:focus {
     background-color: white;
     transform: scale(1.05);
     box-shadow: 13px 13px 100px #969696,
         -13px -13px 100px #ffffff;
 }

 .search h1 {
     text-align: center;
     color: #333333;
     font-size: 30px;
     margin-bottom: 20px;
     margin-top: 15px;
 }

 .search form {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }

 .search input,
 .search select {
     width: calc(50% - 20px);
     margin: 10px;
     padding: 12px;
     border-radius: 10px;
     border: none;
     outline: none;
     background-color: #f0f0f3;
     box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1);
     transition: background-color 0.3s ease, transform 0.3s ease;
 }

 .search input:focus,
 .search select:focus {
     background-color: #ffffff;
     transform: scale(1.02);
     box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.2);
 }

 .search button {
     margin-top: 10px;
     margin-left: 78%;
     color: #ffffff;
     padding: 12px 24px;
     font-size: 18px;
     border-radius: 10px;
     background: #FF6600;
     border: none;
     transition: background-color 0.3s ease, box-shadow 0.3s ease;
     box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1),
         -6px -6px 12px #ffffff;
 }

 .search button:hover {
     background-color: #ff7f00;
     box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
         inset -2px -2px 5px #ffffff,
         2px 2px 5px rgba(0, 0, 0, 0.1),
         -2px -2px 5px #ffffff;
 }

 .search button:active {
     box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.4);
 }

 .promociones {
     position: relative;
     border-top: 4px solid white;
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     background: #f2f2f2;
 }

 .promociones h1 {
     position: absolute;
     top: 0px;
     margin-top: 2%;
     font-size: 30px;

 }

 .card1 {
     background: url(../img/promociones/machupicchu-unsplash.jpg) no-repeat;
     margin: 20px;
     width: 327px;
     height: 491px;
     border-radius: 5px;
     background-size: cover;
     box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
     overflow: hidden;
 }

 .card2 {
     background-image: url(../img/promociones/trujillo.jpg);
     margin: 20px;
     width: 327px;
     height: 491px;
     border-radius: 5px;
     background-size: cover;
     box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
     overflow: hidden;
 }

 .card3 {
     background-image: url(../img/promociones/Playa-Mancora-1.jpg);
     margin: 20px;
     width: 327px;
     height: 491px;
     border-radius: 5px;
     background-size: cover;
     box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
     overflow: hidden;
 }

 .content {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background: rgba(0, 0, 0, .4);
     opacity: 0;
     transition: .5s;
 }

 .content h2,
 a {
     color: rgba(255, 255, 255, .8);
     margin: 10px 0;
 }

 .card1:hover .content {
     opacity: 1;
 }

 .card2:hover .content {
     opacity: 1;
 }

 .card3:hover .content {
     opacity: 1;
 }

 .metodo-pago>* {
     margin-right: 3%;
 }

 .metodo-pago {
     width: 100%;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .metodo-pago small {
     display: flex;
     font-size: 80%;
     justify-content: center;
 }

 .transferencia {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 .transferencia img {
     margin: 7% auto;
 }

 .efectivo {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 .efectivo img {
     margin: 7% auto;
 }

 section {
     box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
 }

 input[type=text],
 input[type=email],
 input[type=tel],
 select,
 textarea {
     border-radius: 4px;
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
 }

 .column img {
     width: 100%;
     margin-top: 4%;
 }

 input[type=submit] {
     background-color: #FF6600;
     color: white;
     padding: 12px 20px;
     border: none;
     cursor: pointer;

 }

 input[type=submit]:hover {
     background-color: #ff7f00;
 }

 /* Estilo del contenedor/sección de contacto */
 .container {
     border-radius: 5px;
     background-color: white;
     padding: 10px;
 }

 /* Crear dos columnas que floten una al lado de la otra */
 .column {
     float: left;
     width: 50%;
     margin-top: 6px;
     padding: 20px;
 }

 /* Limpiar los floats después de las columnas */
 .row:after {
     content: "";
     display: table;
     clear: both;
 }

 /* Estilo del encabezado de contacto */
 .contacto {
     text-align: center;
 }











 footer {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-top: 6px solid white;
     height: 15vh;
     background-color: #ECECEE;
 }

 /*
 .logoFooter {
     max-width: 300px;
     max-height: 220px;
 }*/

 .footer-izq {
     margin-left: 20px;
 }

 .footer-der-ico {
     margin-right: 20px;
 }

 .footer a {
     display: inline-block;
     padding: 5px;
     color: #333333;
     text-decoration: none;
 }

 .footer a:hover {
     color: #666666;
 }

 @media only screen and (max-width: 768px) {
     header {
         width: auto;
         justify-content: start;
         flex-direction: column;
         align-items: flex-start;
         height: 73vh;
     }

     #menu-inicio {
         width: auto;
         flex-direction: column;
     }

     .logo {
         width: 200px;
         height: 150px;
     }

     nav {
         margin-right: 10px;
     }

     nav a {
         font-size: 16px;
     }

     .login {
         font-size: 16px;
         padding: 3px;
     }

     .search {
         justify-content: center;
         width: auto;
         height: auto;
         padding: 5%;
         margin-right: 4%;
     }

     .search h1 {
         font-size: 24px;
     }

     .search input,
     .search select {
         width: 100%;
         margin: 10px 0;
     }

     .search button {
         margin-left: 0;
     }

     .promociones {
         display: block;
         height: 1650px;
     }

     .promociones h1 {
         width: 100%;
         display: block;
         text-align: center;
         align-items: center;
     }

     .promociones>*:not(h1) {
         width: auto;
         margin-left: 16%;
     }


     .metodo-pago {
         height: 330px;
         flex-direction: column;
     }

     .footer-izq {
         width: auto;
     }

     .footer-der-ico {
         padding-left: 0%;
     }
 }

 /* Diseño responsivo - cuando la pantalla es menor a 600px de ancho, hacer que las dos columnas se apilen una encima de la otra en lugar de una al lado de la otra */
 @media screen and (max-width: 600px) {

     .column,
     input[type=submit] {
         width: 100%;
         margin-top: 0;
     }

     .search {
         margin-top: 38%;
         width: 94%;
         left: 50%;
         transform: translateX(-50%);
         /* Ajusta los valores según sea necesario */
     }

     .search input,
     .search select {
         width: 100%;
         /* Ajusta los valores según sea necesario */
     }

     .search button {
         margin-left: auto;
         margin-right: auto;
         /* Ajusta los valores según sea necesario */
     }
 }

 /* Estilos para pantallas aún más pequeñas */

 @media only screen and (max-width: 480px) {

     header {
         width: auto;
         justify-content: start;
         flex-direction: column;
         align-items: flex-start;
         height: 46vh;
     }

     #menu-inicio {
         width: auto;
         flex-direction: column;
     }

     .logo {
         width: 150px;
         height: 100px;
     }

     nav a {
         font-size: 14px;
         padding: 3px;
     }

     nav a::after {
         bottom: 0px;
     }

     .login {
         font-size: 14px;
     }

     .slider-frame img {
         height: 120vh;

     }

     column,
     input[type=submit] {
         width: 100%;
         margin-top: 0;
     }

     .search {
         display: block;
         ;
         margin-top: .1%;
         width: 92%;
         left: 50%;
         transform: translateX(-50%);
         /* Ajusta los valores según sea necesario */
     }

     .search input,
     .search select {
         width: 100%;
         /* Ajusta los valores según sea necesario */
     }

     .search button {
         margin-left: auto;
         margin-right: auto;
         /* Ajusta los valores según sea necesario */
     }

     .search h1 {
         font-size: 20px;
     }

     .promociones {
         display: block;
         height: 1650px;
     }

     .promociones h1 {
         display: block;
         width: 100%;
         text-align: center;
         align-items: center;
     }

     .promociones>*:not(h1) {
         width: auto;
         margin-left: 16%;
     }

     .metodo-pago {
         height: 330px;
         flex-direction: column;
     }

     .btnEnviar {
         width: 100%;
     }

     .footer-izq {
         width: auto;
     }

     .footer-der-ico {
         display: flex;
         flex-direction: row;
     }
 }